@{
    ViewData["Title"] = "Create Seeker";
    ViewData["Menu"] = "Seekers";
}

<div class="container-fluid">

    <div class="row d-flex justify-content-center">

        <div class="col-lg-4">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Create Seeker</h1>
            </div>

            <div class="card shadow p-4">
                <p>Excepteur proident cupidatat laboris commodo.</p>
                <form class="user" method="post" asp-controller="Seeker" asp-action="Store"
                    enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" name="Name" value=""
                            placeholder="Enter Seeker Name...">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" name="Email" value=""
                            placeholder="Enter Seeker Email...">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" name="Username" value=""
                            placeholder="Enter Seeker Username...">
                    </div>
                    <div class="form-group px-2">
                        <div>Photo</div>
                        <input type="file" name="ImageFile" class="form-control-user mx-0 px-1 py-1">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Submit
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>