@{
    ViewData["Title"] = "Create Applicant";
    ViewData["Menu"] = "Applicants";
}

<div class="container-fluid">

    <div class="row d-flex justify-content-center">

        <div class="col-lg-4">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Create Applicants</h1>
            </div>

            <div class="card shadow p-4">
                <p>Excepteur proident cupidatat laboris commodo.</p>
                <form class="user" method="post" asp-controller="Applicant" asp-action="Store">
                    <div class="form-group">
                        <div>Seeker</div>
                        <select name="UserId" class="form-control">
                            @foreach (var Item in ViewBag.Seekers)
                            {
                                <option value="@Item.Id">@Item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <div>Job</div>
                        <select name="JobId" class="form-control">
                            @foreach (var Item in ViewBag.Jobs)
                            {
                                <option value="@Item.Id">@Item.Title</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <div>Status</div>
                        <select name="status" class="form-control">
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Submit
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>