@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Privacy Policy</h1>
    <p class="mb-4">Information for Privacy Policy</p>

    <div class="card shadow mb-4 p-2">
        <p>Use this page to detail your site's privacy policy.</p>
    </div>

</div>