@{
    ViewData["Title"] = "User Roles";
    ViewData["Menu"] = "UserRoles";
}

@model IEnumerable<JobSeeker.Models.UserRole>

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">User Roles</h1>
    <p class="mb-4">Labore nulla ad ad ex magna aute dolor ex.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-controller="UserRole" asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>
                Create</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Role in Model)
                        {
                            <tr>
                                <td style="width: 10%">@Role.Id</td>
                                <td>@Role.Name</td>
                                <td style="width: 15%">
                                    <a class="btn btn-primary mr-1" asp-controller="UserRole"
                                        asp-route-id="@Role.Id" asp-action="Edit"><i class="far fa-edit"></i>
                                        Edit</a>
                                    <a class="btn btn-outline-danger" asp-controller="UserRole" asp-action="Delete" asp-route-id="@Role.Id"><i class="far fa-trash-alt"></i>
                                        Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>